Source: v2fly-core
Section: net
Priority: optional
Maintainer: ymshenyu <ymshenyu@gmail.com>
Build-Depends:  debhelper-compat (= 12),
                dh-golang,
Standards-Version: 4.5.0
Homepage: https://github.com/v2fly/v2fly-core
#Vcs-Browser: https://salsa.debian.org/debian/v2fly-core
#Vcs-Git: https://salsa.debian.org/debian/v2fly-core.git
Rules-Requires-Root: no
XS-Go-Import-Path: github.com/robovpn/v2fly_core

Package: v2fly
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: v2fly-domain-list-community,
            v2fly-geoip,
            v2fly-geoip-only-cn-private
Description: Library platform for building proxies in golang
 Project v2fly is a set of network tools that help you to build your
 own computer network. It secures your network connections and thus
 protects your privacy.

Package: v2fly-domain-list-community
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library platform for building proxies in golang (routing file)
 Project v2fly is a set of network tools that help you to build your
 own computer network. It secures your network connections and thus
 protects your privacy.

Package: v2fly-geoip
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library platform for building proxies in golang (routing file)
 Project v2fly is a set of network tools that help you to build your
 own computer network. It secures your network connections and thus
 protects your privacy.

Package: v2fly-geoip-only-cn-private
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library platform for building proxies in golang (routing file)
 Project v2fly is a set of network tools that help you to build your
 own computer network. It secures your network connections and thus
 protects your privacy.
